:root {
  --fn-suit: 'SUIT';
  --grey-50: #DADADA;
  --green-100: #9CB0A3;
  --green-200: #697B6F;
  --green-300: #3A4B40;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #000;
  background-color: #9CB0A3;
  font-family: var(--fn-suit);
  font-family: 'SUIT' !important;
}

span,
p,
b,
li,
button {
  font-family: 'SUIT';
}

input,
textarea {
  font-family: var(--fn-suit);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

#__next {
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background-color: unset;
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

li.peerMsg {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  margin-right: auto;
}

li.peerMsg>span {
  font-size: 16px;
  letter-spacing: -1.12px;
  font-family: var(--fn-suit);
  font-weight: 400;
  margin-bottom: 6px;
}

.material-symbols-outlined {
  font-weight: 300 !important;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24 !important;
}


/* 토스 페이먼츠 */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

a {
  text-decoration: none;
  text-align: center;
}

.pay-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  overflow: auto;
}

.max-w-540 {
  max-width: 540px;
}

.btn-wrapper {
  background-color: #fff;
  padding: 0 24px;
  padding-bottom: 24px;
}

.btn {
  padding: 11px 22px;
  border: none;
  border-radius: 8px;

  background-color: #f2f4f6;
  color: #4e5968;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

.btn.primary {
  background-color: #3282f6;
  color: #f9fcff;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.confirm-loading {
  margin-top: 72px;
  height: 400px;
  justify-content: space-between;
}


.confirm-success {
  display: none;
  margin-top: 72px;
}

.button-group {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.description {
  margin-top: 8px;
  color: #4e5968;
  font-size: 17px;
  font-weight: 500;
}

.response-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
}

.response-section .response-label {
  font-weight: 600;
  color: #333d48;
  font-size: 17px;
}

.response-section .response-text {
  font-weight: 500;
  color: #4e5968;
  font-size: 17px;
  padding-left: 16px;
  word-break: break-word;
  text-align: right;
}

.color-grey {
  color: #b0b8c1;
}